pandas
beautifulsoup4
streamlit == 1.20.0 
requests
lxml
streamlit
numpy
latest_user_agents
openpyxl
sqlalchemy
pymysql
playwright
cloudscraper
gspread
gspread_dataframe
pydrive
google
pyshorteners
